name: Build and Release
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master

jobs:
  build_for_linux:
    runs-on: ubuntu-latest
    name: Build for Linux (x86_64)
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache Docker layers
        uses: satackey/action-docker-layer-caching@v0.0.8
        with:
          key: docker-layers-linux-{hash}
          restore-keys: |
            docker-layers-linux-
        # Ignore the failure of a step and avoid terminating the job.
        continue-on-error: true

      - name: Build Docker builder image
        run: docker build --build-arg UID=$(id -u) --build-arg GID=$(id -g) -f .github/docker/linux/Dockerfile -t builder .

      - name: Build
        run: docker run --rm -e CI -v $(pwd):/app -w /app builder

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: jvips-libs-linux
          path: JVips-libs.tar.gz

  build_for_linux_aarch64:
    runs-on: ubuntu-latest
    name: Build for Linux (ARM64)
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Cache Docker layers
        uses: satackey/action-docker-layer-caching@v0.0.8
        with:
          key: docker-layers-linux-aarch64-{hash}
          restore-keys: |
            docker-layers-linux-aarch64-
        continue-on-error: true

      - name: Build Docker builder image
        run: docker buildx build --platform linux/arm64 --load --build-arg UID=$(id -u) --build-arg GID=$(id -g) -f .github/docker/linux-aarch64/Dockerfile -t builder-aarch64 .

      - name: Build
        run: docker run --rm --platform linux/arm64 -e CI -v $(pwd):/app -w /app builder-aarch64

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: jvips-libs-linux-aarch64
          path: JVips-libs.tar.gz

  build_for_windows:
    runs-on: ubuntu-latest
    name: Build for Windows
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Docker builder image
        run: docker build --build-arg UID=$(id -u) --build-arg GID=$(id -g) -f .github/docker/windows/Dockerfile -t builder .

      - name: Build
        run: docker run --rm -e CI -v $(pwd):/app -w /app builder

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: jvips-libs-windows
          path: JVips-libs.tar.gz

  build_for_macos:
    runs-on: macos-latest
    name: Build for macOS
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Select Java
        uses: actions/setup-java@v4
        with:
          java-version: "11"
          distribution: "temurin"

      - name: Install vips
        run: ./setup-for-macos.sh

      - name: Build
        run: ./build.sh --with-macos --without-w64 --without-linux --without-linux-aarch64

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: jvips-libs-macos
          path: JVips-libs.tar.gz

  release:
    needs: [build_for_linux, build_for_linux_aarch64, build_for_macos, build_for_windows]
    if: contains('refs/heads/master', github.ref)
    runs-on: ubuntu-latest
    name: Merge macOS, Linux, Windows artifacts into a JAR and release it
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: "11"
          distribution: "temurin"

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Extract libraries
        run: for jar in artifacts/*/JVips-libs.tar.gz; do tar xvf $jar; done

      - name: Set version
        id: version
        run: |
          source lib/VERSIONS
          VERSION="${VIPS_VERSION}-$(git rev-parse --short HEAD)"
          mvn -B versions:set -DnewVersion=$VERSION
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Build JAR
        run: mvn -B -DskipTests clean package

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: jvips
          path: JVips.jar

      - name: Create release
        id: release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.version.outputs.version }}
          release_name: ${{ steps.version.outputs.version }}
          draft: false
          prerelease: false

      - name: Upload release asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release.outputs.upload_url }}
          asset_path: JVips.jar
          asset_name: JVips.jar
          asset_content_type: application/java-archive
